.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__spinner {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader__spinner::before {
  content: '';
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: flip 4s ease infinite;
}

.loader__spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: #72e58a;
  box-shadow: 0 0 10px rgba(72, 145, 88, 0.5);
  animation: flip2 2s ease infinite;
}

@keyframes flip {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0 48px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0 24px #72e58a, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0 48px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 24px #72e58a, 24px 24px #72e58a, 24px 48px rgba(255, 255, 255, 0), 0 48px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 24px #72e58a, 24px 24px #72e58a, 24px 48px #72e58a, 0 48px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 24px #72e58a, 24px 24px #72e58a, 24px 48px #72e58a, 0 48px #72e58a;
  }
  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px #72e58a, 24px 48px #72e58a, 0 48px #72e58a;
  }
  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px #72e58a, 0 48px #72e58a;
  }
  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0 48px #72e58a;
  }
  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0 48px rgba(255, 255, 255, 0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

