.light .progress {
  --color-progress: var(--rss-grey-transparent);
  --color-bgg1: var(--rss-green-dark);
  --color-bgg2: var(--rss-green);
  --color-bgg3: var(--rss-green-dark);
}

.dark .progress {
  --color-progress: var(--rss-grey-transparent);
  --color-bgg1: var(--rss-orange-dark);
  --color-bgg2: var(--rss-orange);
  --color-bgg3: var(--rss-orange-dark);
}

.progress {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-progress);
}

.progress__bar {
  height: 100%;
  display: block;
  background: linear-gradient(90deg, var(--color-bgg1) 0%, var(--color-bgg2) 50%, var(--color-bgg3) 100%);
  transition: all 0.4s ease-in-out 0.2s;
}
