.library {
  padding: 30px 0;
}

.library__container {
  margin: 0 auto;
  width: 1100px;
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.library__title {
  margin: 0;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

.library__title_span {
  font-weight: 800;
}

.library__form {
  margin: 50px 0 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.library__input-text {
  padding-left: 10px;
  width: 400px;
  height: 50px;
  font-size: 24px;
  outline: none;
  background-color: #a6c9bc93;
  border: none;
  border-radius: 15px;
  box-shadow: 
  inset -4px -4px 4px rgba(255, 255, 255, 0.18), 
  inset 2px 2px 4px rgba(0, 0, 0, 0.24), 
  inset -8px -8px 15px rgba(255, 255, 255, 0.02), 
  inset 8px 8px 15px rgba(10, 46, 82, 0.21);
}

.library__button-add {
  margin-left: 25px;
  width: 50px;
  height: 50px;
  font-size: 40px;
  border-radius: 50%;
  border: 2px solid gray;
  color: rgb(80, 86, 88);
  cursor: pointer;
}

.library__list {
  margin: 30px auto;
  width: 70%;
  height: 335px;
  background: #ECEDF2;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(10, 46, 82, 0.12), -6px -6px 40px rgba(255, 255, 255, 0.63), 4px 4px 15px rgba(10, 46, 82, 0.11), inset 4px 4px 30px rgba(10, 46, 82, 0.11), inset -4px -4px 40px #FFFFFF;
}

.head {
  padding: 20px 0 10px 0;
  font-size: 28px;
  line-height: 44px;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.library__item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: relative;
}

.library__col {
  padding: 10px;
  color: #0A2E52;
}

.body {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.library__btn-remove {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.active {
  background-color: #e6dede;
}