<<<<<<< HEAD
.library {
  padding: 30px 0;
}

.library__container {
  margin: 0 auto;
  width: 1100px;
  padding: 15px 0;
=======
.library__container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.library__header {
>>>>>>> develop
  text-align: center;
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
.library__title {
=======
.library__header-title {
>>>>>>> develop
  margin: 0;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
}

.library__title_span {
  font-weight: 800;
}

<<<<<<< HEAD
.library__inputs {
  margin: 50px 0 20px 0;
=======
.library__input{
  padding: 50px 0 0;
>>>>>>> develop
  text-align: center;
  display: flex;
  justify-content: center;
}

.library__input-text {
<<<<<<< HEAD
  width: 400px;
  height: 50px;
=======
>>>>>>> develop
  outline: none;
  background-color: #a6c9bc93;
  border: none;
  border-radius: 15px;
  box-shadow: 
  inset -4px -4px 4px rgba(255, 255, 255, 0.18), 
  inset 2px 2px 4px rgba(0, 0, 0, 0.24), 
  inset -8px -8px 15px rgba(255, 255, 255, 0.02), 
  inset 8px 8px 15px rgba(10, 46, 82, 0.21);
}

.library__input-add {
<<<<<<< HEAD
  margin-left: 25px;
=======
>>>>>>> develop
  width: 50px;
  height: 50px;
  font-size: 40px;
  border-radius: 50%;
  border: 2px solid gray;
  color: rgb(80, 86, 88);
  cursor: pointer;
}

.library__card {
<<<<<<< HEAD
  margin: 30px auto;
  width: 70%;
=======
  margin: 50px 0 0;
  width: 850px;
>>>>>>> develop
  height: 335px;
  background: #ECEDF2;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(10, 46, 82, 0.12), -6px -6px 40px rgba(255, 255, 255, 0.63), 4px 4px 15px rgba(10, 46, 82, 0.11), inset 4px 4px 30px rgba(10, 46, 82, 0.11), inset -4px -4px 40px #FFFFFF;
}

.library__card-header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.bold {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  color: #0A2E52;
}

.library__card-label {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thin {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #0A2E52;
}

.active {
  background-color: #e6dede;
}