.light .library__list {
  --color-bg: var(--rss-white);
  --color-text: var(--rss-black);
  --color-border: var(--rss-grey-light);
  --color-hover: var(--rss-grey-light-lighter);
}

.dark .library__list {
  --color-bg: var(--rss-grey-dark);
  --color-text: var(--rss-grey-light);
  --color-border: var(--rss-grey-light);
  --color-hover: var(--rss-grey-dark-lighter);
}

.library {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px);
  position: relative;
  padding: 80px 0;
}

.library__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.library__title {
  margin: 0 0 40px 0;
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

.library__group-controls {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 0 40px 0;
}

.library__group-controls .input {
  width: 100%;
}

.library__input-control {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
}

.library__input-control .input__field {
  border-radius: 8px 0 0 8px;
}

.library__input-control .button {
  border-radius: 0 8px 8px 0;
}

.library__message {
  text-align: center;
}

.library__list {
  padding: 20px 0;
  width: 100%;
  min-height: 400px;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  text-align: center;
}

.library__row-head {
  font-size: 20px;
  font-weight: 900;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 120px;
}

.library__col {
  padding: 10px;
}

.library__row-body {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.library__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 120px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.library__item:hover {
  background-color: var(--color-hover);
}

.library__col-controls {
  font-size: 0;
}
