.dark .pagenotfound__monster {
  --color-moster: url(../../images/monsterDark.png) left center;
}
.light .pagenotfound__monster {
  --color-moster: url(../../images/monsterLight.png) left center;
}

.pagenotfound {
  min-height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagenotfound__heading {
  font-size: 32px;
  margin: 0;
}

.pagenotfound__monster {
  width: 190px;
  height: 240px;
  margin: 2% auto;
  background: var(--color-moster);
  animation: play .8s steps(10) infinite;
  transition: all 0.3s linear;
}

@keyframes play {
	100% { 
    background-position: -1900px; 
  }
}