.light .gamecards__link {
  --color-bg: var(--rss-grey-light-lighter);
  --color-text: var(--rss-black);
  --color-border: var(--rss-green);
}

.dark .gamecards__link {
  --color-bg: var(--rss-grey-dark-lighter);
  --color-text: var(--rss-grey-light);
  --color-border: var(--rss-orange);
}

.gamecards {
  min-height: calc(100vh - 160px);
  display: flex;
}

.gamecards__title {
  margin: 0 0 40px 0;
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

.gamecards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
}

.gamecards__link {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: var(--color-bg);
  border-radius: 8px;
  border-top: 8px solid var(--color-border);
  transition: all 0.1s linear;
  box-shadow: 0 0 0 0 rgba(34, 60, 80, 0.2);
}

.gamecards__link:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 5px -10px rgba(34, 60, 80, 0.2);
}

.gamecards__card-text {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 0 0;
}

.gamecards__card-title {
  font-size: 24px;
  margin: 0;
}

.gamecards__card-description {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.gamecards__card-image-block {
  display: flex;
  align-items: center;
}

.gamecards__card-image {
  width: 100%;
  height: 152px;
}

@media (max-width: 1024px) {

  .gamecards__list {
    gap: 10px;
  }

  .gamecards__link {
    padding: 10px;
  }

  .gamecards__card-title {
    font-size: 18px;
  }

}

@media (max-width: 768px) {

  .gamecards__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;
  }

}

@media (max-width: 480px) {

  .gamecards {
    padding: 20px 0;
  }

  .gamecards__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}
