.gamecard__block{
  margin: 10px 0px 10px 10px;
  display: flex;
  justify-content: space-around;
  width: 250px;
  height: 150px;
  background-color: rgb(185, 185, 185);
  box-shadow: 
  2px 2px 4px rgba(90, 90, 90, 0.12), 
  -6px -6px 40px rgba(255, 241, 241, 0.63), 
  4px 4px 15px rgba(0, 0, 0, 0.11), 
  inset 4px 4px 30px rgba(10, 46, 82, 0.11), 
  inset -4px -4px 40px #cccccc;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.349);
}
.gamecard__image{
  width: 70px;
  height: 145px;
}
.gamecard__block-title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.gamecard__block-description{
  font-size: 10px;
}
.gamecard__block-name{
  font-size: 20px;
}