.header.light {
  --color-bg: #265B91;
  --color-text: #000000;
  --color-border: 0px solid #265B91;
}

.header.dark {
  --color-bg: #232529;
  --color-text: #cdcfd7;
  --color-border: 3px solid #35383f;
}

.header {
  padding: 20px 40px;
  background-color: var(--color-bg);
  border-bottom: var(--color-border);
  transition: all 0.2s linear;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 900;
}

.header__options {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button-lang {
  width: 35px;
  height: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.header__button-lang:hover {
  transform: scale(1.15);
}

.header__button-theme {
  width: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.header__button-theme:hover {
  transform: scale(1.15);
}
