.light .input{
  --color-bg: var(--rss-white);
  --color-text: var(--rss-black);
  --color-bg-outline: var(--rss-green-dark);
  --color-bg-shadow: var(--rss-green-shadow)
}

.dark .input {
  --color-bg: var(--rss-grey-dark);
  --color-text: var(--rss-grey-light);
  --color-bg-outline: var(--rss-orange-dark);
  --color-bg-shadow: var(--rss-orange-shadow)
}

.input {
  display: block;
  width: 100%;
  min-width: 300px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid var(--rss-grey-light);
  border-radius: 8px;
  padding: 16px 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  outline: none;
  transition: all 0.1s linear;
}

.input:focus {
  border: 1px solid var(--color-bg-outline);
  box-shadow: 0 0 0 4px var(--color-bg-shadow);
}
