.input.light {
  --color-bg: #ffffff;
  --color-text: black;
}

.input.dark {
  --color-bg: #232529;
  --color-text: #cdcfd7;
}

.input {
  display: block;
  width: 100%;
  min-width: 300px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 16px 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
  outline: none;
  transition: all 0.1s linear;
}

.input:focus {
  border: 1px solid #69d37f;
  box-shadow: 0 0 0 4px rgba(105, 211, 127, 0.5);
}
