.footer.light {
  --color-border: 0px;
}

.footer.dark {
  --color-border: 3px solid #35383f;
}

.footer {
  width: 100%;
  padding: 20px 40px;
  background-color:  var(--color-bg);
  border-top: var(--color-border);
  transition: all 0.2s linear;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 30px;
}
.footer__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}
