.footer {
  width: 100%;
  padding: 20px 40px;
  background-color:  #efefef;
  position: relative;
  left: 0px;
  bottom: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  display: flex;
  justify-content: space-around;
  width: 130px;
  height: 30px;
}
.footer__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}
