html.light {
  --color-bg: #ffffff;
  --color-text: #000000;
}

html.dark {
  --color-bg: #232529;
  --color-text: #cdcfd7;
}

html {
  transition: all 0.2s linear;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.container {
  width: 1000px;
  margin: 0 auto;
}
