@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap');

:root {
  --rss-blue: #265b91;
  --rss-red: #ed3535;
  --rss-red-shadow: #ed35357f;
  --rss-green: #72e58a;
  --rss-green-dark: #69d37f;
  --rss-green-darkest: #56ab67;
  --rss-green-shadow: #69d37f7f;
  --rss-orange: #e3796a;
  --rss-orange-dark: #d26f61;
  --rss-orange-darkest: #a8584d;
  --rss-orange-shadow: #e3796a80;
  --rss-white: #ffffff;
  --rss-black: #000000;
  --rss-grey-dark: #232529;
  --rss-grey-dark-lighter: #545454;
  --rss-grey-light: #cdcfd7;
  --rss-grey-light-lighter: #f9f9f9;
  --rss-grey-transparent: #8080807F;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

html.light {
  --color-bg: var(--rss-white);
  --color-text: var(--rss-black);
}

html.dark {
  --color-bg: var(--rss-grey-dark);
  --color-text: var(--rss-grey-light);
}

html {
  transition: all 0.2s linear;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}