.dark .active, .dark .active::before {
  --color-text: var(--rss-orange);
}

.light .active, .light .active:before {
  --color-text: var(--rss-green);
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--rss-white);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.active {
  color: var(--color-text);
}

.active:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-text);
  position: absolute;
  bottom: -10px
}

@media (max-width: 768px) {

  .nav {
    display: none;
  }

  .nav__list {
    gap: 10px;
  }

  .nav__link {
    font-size: 12px;
  }

}
