.nav__list {
  display: flex;
  gap: 10px;
}

.nav__list li {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav__list li a {
  color: #ffffff;
  text-decoration: none;
}

.nav__current {
  filter: invert(65%);
}
