.nav__list {
  display: flex;
  gap: 20px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.nav__current.dark, .nav__current.dark::before {
  --color-bgс: #e3796a;
}

.nav__current.light, .nav__current.light:before {
  --color-bgс: #81F499;
}

.nav__current {
  color: var(--color-bgс);
}

.nav__current:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-bgс);
  position: absolute;
  bottom: -10px
}
