.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form > * + * {
  margin: 20px 0 0 0;
}

.form__heading {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  margin: 7px 0 20px 0;
}

.form__button {
  display: block;
  width: 100%;
}
