.auth {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 135px);
}

.auth__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.auth__form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.auth__form > * + * {
  margin: 20px 0 0 0;
}

.auth__heading {
  text-align: center;
  margin: 0 0 30px 0;
}

.auth__button {
  display: block;
  width: 100%;
}
